numpy==1.26.4
pandas==1.3.5
scikit-learn==1.5.1
flask==3.0.0
mlflow==2.15.1
joblib==1.4.0
lime==0.2.0.1
fluent-logger==0.11.1
bokeh==3.5.1
arrow==1.3.0
wickedhot==0.2.6
boto3==1.35.1
protobuf==5.27.3

# Testing Dependencies
requests-mock==1.8.0
flake8==3.7.8
flake8-print==3.1.4
autopep8==1.5
snakeviz==2.0.1
pytest==6.2.5
pytest-cov==3.0.0

coverage==6.2
